html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(46, 45, 45);
    color: rgb(211, 207, 207);
    font-family: 'Barlow Semi Condensed', sans-serif;
    max-width: 55vw;
}

.list-header {
    font-size: 50px;
}

.list {
    text-transform: uppercase;
    font-size: 30px;
}

.list a:visited {
    color: inherit;
}

li {
    list-style-position: inside;
    margin-top: 10px;
}

li::before {
    content: "";
    width: 20px;
    display: inline-block;
}